@import '~antd/dist/antd.css';
.ant-menu-item , .submenu-title-wrapper{
  color: black;
  font-size: 12px;
  font-weight: bold;
  height: 70px;
}
.ant-menu-horizontal::after {
  height: 2px;
  background-color: yellow;
  width: 100%;
}
.logo{
  height: 40px;
}
hr {
  height: 1px;
  color: blue;
  background-color :lightblue;
  border: none;
  }
  .submenu-title-wrapper{
    margin-top:  0.001em;
    margin-bottom: 0.001em;
  }
  .conttectBar{
    color: #01539F;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
  }